* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #06142d;
  color: white;
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}

main {
  width: 100%;
  overflow-x: hidden;
}


/* HERO */

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background:
    radial-gradient(circle at top, #17345f, #06142d 70%);
}


.small {
  color: #d4af37;
  letter-spacing: 2px;
  font-size: 18px;
}


h1 {
  font-size: 70px;
  font-weight: 500;
  color: #d4af37;
  margin: 20px 0 10px;
}


h2 {
  font-size: 35px;
  font-weight: normal;
  margin: 0;
}


.date {
  margin-top: 35px;
  font-size: 25px;
  line-height: 1.8;
}



/* COUNTDOWN */

.countdown {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}


.countdown div {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 1px solid #d4af37;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d4af37;
  font-size: 28px;
}


.countdown span {
  color: white;
  font-size: 12px;
  margin-top: 5px;
}


.scroll {
  margin-top: 60px;
  color: #d4af37;
}



/* SECTIONS */

.section {
  min-height: 70vh;
  padding: 70px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(212,175,55,0.25);
}


.section h3 {
  color: #d4af37;
  font-size: 42px;
  margin-bottom: 25px;
}


.section p {
  max-width: 650px;
  font-size: 22px;
  line-height: 2;
}



/* LOCATION BUTTON */

.location-btn {

  display: inline-block;

  margin-top: 30px;

  padding: 15px 45px;

  border-radius: 50px;

  background: #d4af37;

  color: #06142d;

  text-decoration: none;

  font-size: 18px;

  font-weight: bold;

  transition: 0.3s;

}


.location-btn:hover {

  background: transparent;

  color: #d4af37;

  border: 1px solid #d4af37;

  transform: translateY(-4px);

}



/* END */

.end {

  min-height: 50vh;

}




/* MOBILE */

@media(max-width:600px){

  h1 {
    font-size: 45px;
  }


  h2 {
    font-size: 25px;
  }


  .date {
    font-size: 20px;
  }


  .countdown div {
    width: 75px;
    height: 75px;
    font-size: 22px;
  }


  .section h3 {
    font-size: 32px;
  }


  .section p {
    font-size: 18px;
  }

}
